@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}

.navbar-light {
  background-color: #DBD3D8;
}


.navbar h2 {
  color: #D77A61;
  font-family: 'Permanent Marker', cursive;
}


.site-footer {
  background-color: #223843;
  color: white;
  padding: 20px 0;
}