@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}

.App {
  background-color: #DBD3D8;
}

.navbar-light {
  background-color: #DBD3D8;
  border-bottom: 1px solid #D77A61;
}


.navbar h2 {
  color: #D77A61;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.8rem;
}

.nav-item:hover {
  border-bottom: 2px solid #D77A61;
}

button:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.modal-header {
  background-color: #223843;
  color: #EFF1F3;
  font-family: 'Permanent Marker', cursive;
}

.modal-body {
  background-color: #DBD3D8;
  color: #223843;
}

.modal-body  button {
  background-color: #D77A61;
  border: none;
}

.modal-body button:hover {
  background-color: #223843;
}

#buyselltrade {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('homejumbotron.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
}

#musiciansseeking {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('search.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
}

#gigs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('band.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
}

#learn {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('learn.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.jumbotron h1 {
  color: #D77A61;
}

.jumbotron p {
  color: #EFF1F3;
}

.jumbotron button {
  background-color: #D77A61;
}

.jumbotron button:hover {
  background-color: #223843;
}

#directory-card {
  background-color: #223843;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#directory-card .card-body p {
  color: #EFF1F3;
}

#directory-card .card-title {
  color: #D77A61;
  font-weight: bold;
  font-size: 1.2rem;
}

#directory-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


#item-heading {
  color: #D77A61;
  font-weight: bold;
}

#buy-btn {
  background-color: #D77A61;
}

#message-seller-btn, #trade-btn {
  background-color: #223843;
}

#about-component h1, h3 {
  color: #D77A61;
}

#about-component h4, p {
  color: #223843;
}

#musician-card {
  background-color: #DBD3D8;
  border: 1px solid #223843;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#musician-card .card-title {
  color: #D77A61;
}

#musician-card .card-text {
  color: #223843;
}

#contact-container {
  margin-top: 25px;
}

#contact-container h2, #contact-container a {
  color: #D77A61;
}

#contact-container h5, address, label {
  color: #223843;
}

#contact-container button {
  background-color: #D77A61;
  border: none;
}

#contact-container button:hover {
  background-color: #223843;
}

.site-footer {
  background-color: #223843;
  color: white;
  padding: 20px 0;
}

.site-footer a {
  color: white;
}

.site-footer a:hover {
  color: #D77A61;
  text-decoration: none;
}


