@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}

.App {
  background-color: #DBD3D8;
}

.navbar-light {
  background-color: #DBD3D8;
  border-bottom: 1px solid #D77A61;
}


.navbar h2 {
  color: #D77A61;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.8rem;
}

#jumbotron {
  background-image: url('./images/homejumbotron.jpeg');
  background-size: cover;
  background-position: center;
  color: #D77A61;
  margin: 25px 0;
}

#jumbotron-container {
  background: rgba(0,0,0,0.8);
  padding: 20px;
  font-weight: bold;
}

#jumbotron-container hr {
  border-top: solid 1px #DBD3D8;
}

#jumbotron-container button {
  background-color: #223843;
  border: none;
}

#jumbotron-container button:hover {
  background-color: #D77A61;
}


#contact-container {
  margin-top: 25px;
}

#contact-container h2, #contact-container a {
  color: #D77A61;
}

#contact-container h5, address, label {
  color: #223843;
}

#contact-container button {
  background-color: #D77A61;
  border: none;
}

#contact-container button:hover {
  background-color: #223843;
}

.site-footer {
  background-color: #223843;
  color: white;
  padding: 20px 0;
}

.site-footer a {
  color: white;
}

.site-footer a:hover {
  color: #D77A61;
  text-decoration: none;
}